@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Playfair+Display:wght@500;700&display=swap");

* {
  --primary-color: #025157;
  --secondary-color: #70a37f;
  --lightPurple: #4c3957;
  --darkPurple: #1e152a;
  --white-color: #fff;
  --black-color: #000;
  --beige: #fffbf7;
  --gray-color: #8b8b8b;
  --green-Accent: #a1d683;
  --Primary-font: "Playfair Display", serif;
  --Secondary-font: "IBM Plex Sans", sans-serif;
  --LightShadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: "Playfair Display", serif;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--beige);
}

img {
  pointer-events: none;
}

/* Navegacion*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--beige);
  z-index: 2;
}

.navbar  {
  background-color: var(--beige) !important;
  position: sticky !important;
}

.navbar .nav-link {
  font-family: var(--Secondary-font);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-color) !important;
  transition: all 0.3s ease-in-out;
}

.navbar .nav-link:hover {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--secondary-color) !important;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid #a1d683;
}

.navbar .active {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--secondary-color) !important;
  border-bottom: 2px solid #a1d683;


}
.logoMatcha a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  margin: 0 0.5rem;
}
.logoMatcha h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
  margin: 0 0.5rem;
  padding: 0;
}

.logo {
  min-width: 1rem;
  max-width: 3rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin-right: 1rem;
  padding: 0px 25px;
  font-family: sans-serif;
  font-weight: 700;
  color: #025157;
}

.actions {
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
}

.signIn {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 0.5rem 1rem;
}

a,
a:active {
  text-decoration: none;
  color: #67b54b;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* header section */

.header {
    text-align: center;
}
  
  .header h1 {
    font-family: var(--Primary-font);
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
  }
  
  .header p {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--gray-color);
    text-align: center;
  }

/* Platforms Section */
.platforms {
    margin-top: 4rem;
}

.platforms h5   {
    font-size: .65rem;
    letter-spacing: .21em;  
    color: var(--primary-color);
    font-family: var(--Secondary-font);
    padding-bottom: .5;
}

.is-active {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    color: #67b54b;
}


/* Faq Styling */

.faq {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 120px;
  }
  .faq h1 {
   font-family: var(--Primary-font);
   color: var(--primary-color);
   text-align: center;
   display: flex;
   flex-direction: column;
   align-content: center;
  }

  .faq h2 {
    color: #025157;
    font-family: var(--Primary-font);
  }
  
  .faq .card-header {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .faq h2 > button {
    color: #025157;
    font-size: 28px;
    font-weight: 900;
  }
  
  .faq .card .card-body a {
    color: #6abf4b;
  }